@font-face {
  font-family: 'MyCustomFont'; /* 사용할 폰트 이름 정의 */
  src: local('MyCustomFont'), /* 로컬에 설치된 폰트 우선 사용 */
       url('./assets/fonts/HANAMDAUM_Body.ttf') format('ttf');
  font-weight: 400; /* Normal 굵기 */
  font-style: normal;
  font-display: swap; /* 폰트 로딩 전까지 대체 폰트 표시 */
}

@font-face {
  font-family: 'MyCustomFont'; /* 사용할 폰트 이름 정의 */
  src: local('MyCustomFont Bold'), /* 로컬에 설치된 폰트 우선 사용 */
       url('./assets/fonts/HANAMDAUM.ttf') format('ttf');
  font-weight: 400; /* Normal 굵기 */
  font-style: normal;
  font-display: swap; /* 폰트 로딩 전까지 대체 폰트 표시 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'MyCustomFont', Tahoma;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
